/*エラーメッセージ*/
.register-form__error-message {
    color: red;
}

/*背景部分*/
body {
    margin: 0;
    min-height: 100vh;
    background-color: #93bff2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

/*カード部分*/
.register-form {
    background-color: #ffffff;
    padding: 40px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.register-form__group {
    margin-bottom: 20px;
    text-align: left;
}

.register-form__input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.register-form__btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}