.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: #f2056c;
}

.header-utilities nav {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-weight {
    list-style: none;
    margin: 0;
    padding: 0;
}